@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden w-full;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.2;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.font-custom {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bgx-primary {
  background-color: #fffcf5; /* Beige claro */
}
.bgx-secondary {
  background-color: #c48d00; /* dorado */
}
.bgx-complementary {
  background-color: #a52c2c; /* rojo vino */
}
.bgx-dark {
  background-color: #1c1c1c; /* rojo vino */
}
.txt-primary {
  color: #fffcf5; /* Beige claro */
}
.txt-secondary {
  color: #eba800; /* dorado */
}
.txt-complementary {
  color: #a52c2c; /* rojo vino */
}
.svg-primary {
  fill: #fffcf5; /* Beige claro */
}
.svg-secondary {
  fill: #c48d00; /* dorado */
}
.svg-complementary {
  fill: #a52c2c; /* rojo vino */
}
.svg-dark {
  fill: #1c1c1c; /* negro */
}
.stroke-primary {
  stroke: #fffcf5; /* Beige claro */
}
.stroke-secondary {
  stroke: #c48d00; /* dorado */
}
.stroke-complementary {
  stroke: #a52c2c; /* rojo vino */
}
