---
import MainPhoto from "../components/MainPhoto.astro";
import Names from "../components/Names.astro";
import Contador from "../components/contador";
import SecondaryPhoto from "../components/SecondaryPhoto.astro";
import Parents from "../components/Parents.astro";
import EventLocation from "../components/EventLocation.astro";
import GiftTable from "../components/GiftTable.astro";
import DressCode from "../components/DressCode.astro";
import ExtraPhoto from "../components/ExtraPhoto.astro";
import RsvpForm from "../components/RsvpForm.astro";
import ThankYouMessage from "../components/ThankYouMessage.astro";
import FinalPhoto from "../components/FinalPhoto.astro";
import Message2 from "../components/message2.astro";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Invitación de boda digital de Nidia y Roberto"
    />
    <meta name="author" content="Creado por Valtech" />
    <link rel="icon" type="image/x-icon" href="images/heart.webp" />
    <title>Invitación de Boda</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-[#FFFCF5] font-custom overflow-x-hidden">
    <!-- Secciones de la invitación -->
    <!-- 1. Foto principal -->
    <MainPhoto />

    <!-- 2. Nombres de los novios -->
    <Names />

    <!-- mensaje de los novios -->
    <!-- <Message /> -->
    <!-- 3. Contador regresivo -->
    <Contador targetDate={new Date("2025-12-01T00:00:00")} />
    <Message2 />

    <!-- 4. Foto secundaria -->
    <SecondaryPhoto />

    <!-- 5. Padres de los novios -->
    <Parents />

    <!-- 6. Ubicación y horarios -->
    <EventLocation />

    <!-- 7. Mesa de regalos -->
    <GiftTable />

    <!-- 8. Código de vestimenta -->
    <DressCode />

    <!-- 9. Foto adicional de los novios -->
    <ExtraPhoto />

    <!-- 10. Confirmación de asistencia -->
    <RsvpForm />
    <!-- Reemplaza con el número de WhatsApp deseado -->
    <!-- 11. Mensaje final de agradecimiento -->
    <ThankYouMessage />

    <!-- 12. Foto final de los novios -->
    <FinalPhoto />
  </body>
  <script></script>
</html>
