---

---

<section
  class="w-full flex flex-col items-center text-center justify-center text-white relative bgx-secondary py-12 px-6"
>
  <h2 class="text-3xl block sm:text-4xl font-serif mb-8">
    Código de Vestimenta <br /> FORMAL
  </h2>
  <img
    src="images/novios.webp"
    alt="novios"
    class="h-84 block transform -translate-x-4"
  />
  <p class="text-white block text-2xl max-w-md mt-8">
    les pedimos que vistan de manera elegante y decente. No ropa corta, muy
    entallada ,ni escotes muy pronunciados.
  </p>
  <p class="text-white block text-2xl max-w-md mt-8">
    Por favor, eviten los siguientes colores:
  </p>

  <!-- Círculos de colores prohibidos -->
  <div class="flex block gap-6 my-14">
    <div
      class="w-12 h-12 rounded-full bgx-primary border border-white"
      title="Blanco"
    >
    </div>
    <div
      class="w-12 h-12 rounded-full bgx-secondary border-2 border-white"
      title="Dorado"
    >
    </div>
    <div
      class="w-12 h-12 rounded-full bgx-dark border-2 border-white"
      title="Negro"
    >
    </div>
    <div
      class="w-12 h-12 rounded-full bgx-complementary border-2 border-white"
      title="Rojo vino"
    >
    </div>
  </div>

  <p class="text-white block text-2xl mb-12 mt-8">
    Agradecemos su comprensión y apoyo para que la celebración mantenga su
    esencia.
  </p>

  <img
    src="images/hat.webp"
    alt="flowers"
    class="absolute block -top-20 z-10 right-0 w-30 overflow-x-hidden"
  />
</section>

<style lang="postcss">
/* Colores personalizados para Tailwind */
.text-beige { color: #F4E1D2; }
.text-terra { color: #ff6334; }      /* Terracota */
.text-terracota { color: #E17055; }  /* Naranja terracota */
.bg-olive { background-color: #556B2F; } /* Verde olivo */
.bg-terracota { background-color: #D35400; }
.bg-olivo { background-color: #398e00; }
.font-serif { font-family: 'Times New Roman', serif; }
</style>
