---
import Suit from "./suit-icon.astro";
---

<section
  class="w-full flex flex-col items-center text-center justify-center txt-primary relative bgx-secondary py-12 px-6"
>
  <h2 class="text-3xl block sm:text-4xl font-serif mb-8">
    Código de Vestimenta
  </h2>
  <Suit />
  <p class="text-white block text-2xl max-w-md mt-8">
    Para mantener la armonía del evento, les pedimos evitar el uso de los
    siguientes colores:
  </p>

  <!-- Círculos de colores prohibidos -->
  <div class="flex block gap-6 my-14">
    <div
      class="w-12 h-12 rounded-full bgx-primary border border-white"
      title="Blanco"
    >
    </div>
    <div
      class="w-12 h-12 rounded-full bgx-secondary border border-white"
      title="Negro"
    >
    </div>
    <div
      class="w-12 h-12 rounded-full bgx-complementary border border-white"
      title="Gris claro"
    >
    </div>
  </div>

  <p class="text-white block text-2xl mb-12">
    Agradecemos su comprensión y apoyo para que la celebración mantenga su
    esencia.
  </p>
</section>

<style lang="postcss">
/* Colores personalizados para Tailwind */
.text-beige { color: #F4E1D2; }
.text-terra { color: #ff6334; }      /* Terracota */
.text-terracota { color: #E17055; }  /* Naranja terracota */
.bg-olive { background-color: #556B2F; } /* Verde olivo */
.bg-terracota { background-color: #D35400; }
.bg-olivo { background-color: #398e00; }
.font-serif { font-family: 'Times New Roman', serif; }
</style>
