---
// Prompt 9 – Foto de los novios
---

<section class="relative w-full">
  <!-- Imagen de los novios -->
  <img
    src="/images/img3.jpg"
    alt="Foto de los novios"
    class="w-full h-auto object-cover"
  />

  <!-- Máscara inferior estilo papel rasgado -->
  <svg
    class="absolute -bottom-1 left-0 w-full"
    viewBox="0 0 1440 150"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0,0 C360,100 1080,0 1440,100 L1440,150 L0,150 Z" fill="#FFFCF5"
    ></path>
  </svg>
  <svg
    class="absolute top-0 left-0 w-full"
    viewBox="0 0 1440 150"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0,0 L1440,0 L1440,100 C1080,0 360,100 0,0 Z" fill="#556B2F"
    ></path>
  </svg>
</section>
