---

---

<section
  class="w-full bgx-primary py-10 flex flex-col items-center text-center relative"
>
  <h2 class="text-2xl font-serif block txt-complementary mb-6">
    Confirmar asistencia
  </h2>

  <form
    id="rsvpForm"
    class="w-3/4 max-w-md flex flex-col space-y-4 txt-secondary font-serif"
  >
    <!-- Botón confirmar -->
    <button
      type="submit"
      class="bgx-complementary block text-white font-medium py-3 px-6 rounded-full shadow-md hover:bg-[#8b3e1e] transition mt-4 mb-18"
    >
      Confirmar asistencia
    </button>
  </form>
  <svg
    class="absolute -bottom-1 left-0 w-full"
    viewBox="0 0 1440 150"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0,0 C360,100 1080,0 1440,100 L1440,150 L0,150 Z"
      class="svg-complementary"></path>
  </svg>
</section>

<!-- Script para WhatsApp redirect -->
<script type="module">
  const form = document.getElementById("rsvpForm");
  if (form) {
    form.addEventListener("submit", (e) => {
      e.preventDefault();
      const url = `https://forms.gle/BdZaCjmn43M3XUec8`;
      window.location.href = url;
    });
  }
</script>
